# .gitignore
# app/chartUploads/*pdf
#*.pdf
# app/config/database.php
app/config/database.php
# app/tmp/*
app/tmp/*
# app/tmp/logs
*.log
node_modules/
frontend/node_modules/
frontend/dist
backend/node_modules/
